{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Poll {% endblock %}</h1>
    <a href="{{ url_for('create') }}">
        <button class="btn btn-primary">Созать Опрос</button>
    </a>
    <div>
        {% for poll in polls %}
            <div>
                <a href="{{ url_for('view_poll', poll_id=poll.id) }}"><h3>{{ poll.title }}</h3></a>
                {% if current_user == poll.creator or current_user in poll.access_results %}
                    <a href="{{ url_for('results', poll_id=poll.id) }}">
                        <button class="btn btn-primary">Посмотреть результаты</button>
                    </a>
                {% endif %}
                {% if current_user == poll.creator or current_user in poll.access_participation %}
                    <a href="{{ url_for('answer', poll_id=poll.id) }}">
                        <button class="btn btn-primary">Пройти опрос</button>
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}